<%= form_with model: [ @post, @post.comments.build ], local: true do |f| %>
  <div class="input-group">
    <%= f.text_field :body, placeholder: "Write a comment", class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit 'Post', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
